@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #ffebeb, #ffffff);
  --background: linear-gradient(to right, #ffebeb, #ffffff);
  --foreground: #171717;
  --link-text: rgb(31 41 55);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141e30; /* fallback for old browsers */
    --background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    --background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --foreground: #ededed;
    --link-text: rgb(209 213 219);
  }
}

.linkText {
  color: var(--link-text);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans Variable', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


.title {
  background-image: url(https://picsum.photos/600/600);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
